div#textobuscado{
	background-color: blue;
	text-align:center;
}

h2#texto{
	font-size: 1em;
}

h5{
	font-size: 1em;
}

#logo{
	width: 10px;
	height: 100px;
}

#fecha{
	text-align: end;
}

#tweet{
	border: 1px gainsboro solid;
	width: 700px;
}

#tweets{
	width: 700px;
	background-position: center;
}
