@import url('https://fonts.googleapis.com/css?family=Baloo');
* {
	box-sizing: border-box;
	
}

div[id^="cuadro"]{
	width: 120px;
	height: 120px;
	text-align: center;
	font-size: 36px;
	font-family: "Baloo";
	border: 2pt #606060 solid;
	border-radius: 10px;
	margin: 15px;
}

div#cuadro1, div#cuadro3{
	background-color: #dfedd6;
}

div#cuadro2, div#cuadro4{
	background-color: #f7fade;
}