@import url('https://fonts.googleapis.com/css?family=Baloo');
* {
	box-sizing: border-box;
	
}

section{
	display: flex;
}

div[id^="cuadro"]{
	width: 120px;
	height: 144px;
	text-indent: 17px;
	font-size: 36px;
	font-family: "Baloo";
	border: 2pt #606060 solid;
	border-radius: 10px;
	margin-left: 17px;
	

}

div#cuadro1, div#cuadro3{
	background-color: #dfedd6;
}

div#cuadro2, div#cuadro4{
	background-color: #f7fade;
}